
.skills-view {
    &::before {
        content: 'Skills';
        bottom: 0;
        right: -3rem;
        position: fixed;
        font-size: 10rem;
        font-weight: bolder;
        z-index: -999;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        letter-spacing: 10px;
    }
}



@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    .skills-view {
        &::before {
            display: none;
        }

        &::after {
            content: 'Skills.';
            bottom: 0;
            left: 0;
            position: fixed;
            font-size: 25rem;
            z-index: -999;
            letter-spacing: 10px;
            font-weight: bolder;
        }
    }
}