.skills-view {
    &::before {
        content: 'Skills.';
        position: fixed;
        top: 0;
        left: 3rem;
        font-size: 5rem;
        font-weight: bolder;
        z-index: -999;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        line-height: 5rem;
        letter-spacing: 10px;
    }
}




@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    .skills-view {
        &::before {
            display: none;
        }

        &::after {
            content: 'Skills.';
            position: fixed;
            top: 0;
            left: 5rem;
            font-size: 10rem;
            z-index: -999;
            letter-spacing: 10px;
            line-height: 10rem;
            font-weight: bolder;
        }
    }
}