.h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.link {
    text-decoration: none !important;
    color: var(--mainLinkColor) !important;
    font-weight: 500 !important;
}

li {
    line-height: 1.9em;
}

// #container--main {
//     max-width: 50%;
//     // margin: 0 auto;
//     // padding: 0 2em;
// }

.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 1em;
}

#bio,
a {
    font-weight: 300;
}

#user-name {
    // font-size: 48px;
    line-height: 1.5em;
}

#profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#email {
    color: var(--mainTextColor);
}

#socials--list {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a {
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover {
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

#qualifications--list {
    list-style: none;
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.3em 1em;
    align-items: center;

    span {
        font-size: 12px !important;
    }
}

.card--project {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover {
    color: rgb(30, 190, 214);

}

.card--work-history {
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break {
    background-color: var(--mainBorderColor);
    height: 1px;
}


@media(max-width:600px) {

    .section--page {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic {
        width: 200px;
        height: 200px;
    }

    #wrapper--hero {
        flex-direction: column;
    }

    .card--work-history {
        border-left: none;
        padding-left: 0;
    }
}