:root {
  --font-sans:
    'Assistant',
    'Philosopher',
    -apple-system,
    system-ui,
    sans-serif;
  --font-serif:
    'Cormorant Garamond',
    'Lora',
    serif;
  --font-mono:
    'IBM Plex Mono',
    'Inconsolata',
    monospace;

  --mainLinkColor-light: hsl(0, 100%, 25%);
  --mainBorderColor-light: hsl(0, 0%, 85%);
  --mainActiveColor-light: hsl(178, 100%, 44%);
  --lightBg: hsl(9, 54%, 97%);
  --darkBg: hsl(210, 33%, 9%);

  --mainLinkColor: var(--mainLinkColor-light);
  --mainBorderColor: var(--mainBorderColor-light);
  --mainActiveColor: var(--mainActiveColor-light);
}

@import '../components/resume/index.scss';
@import '../styles/background.scss';
@import './contactBtn.scss';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: small;
  text-decoration: none !important;
  font-family: var(--font-sans);
  font-size: small;

  @media screen and (min-width: 1280px) {
    font-size: medium;
  }
}

body {

  .box-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .font-mono {
    font-family: var(--font-mono) !important;
  }

  .font-sans {
    font-family: var(--font-sans) !important;
  }

  .font-serif {
    font-family: var(--font-serif) !important;
  }


  .heading {
    font-size: 18px;
  }

  .rotate-90 {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
  }


  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none !important;
    }

    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    overflow: -moz-scrollbars-none !important; //for older versions of firefox
  }

  .fullpage-wrapper {
    margin: initial !important;
  }

  .pbox {
    &:hover img {
      transition: all .1s;
      transform: scale(1.05) translateY(-2px);
    }

  }

  .quil_box {
    img {
      transform:
        rotate(120deg);
    }

    &:hover img {
      transition: all .2s;
      transform: rotate(120deg) scale(1.2);
    }
  }

  .pos-quil_box {
    position: fixed !important;
    top: 0;
    left: 0;
  }

  .buzz {
   animation: buzz 1s linear infinite alternate;
  }

  @keyframes buzz {
    from {
      transform: rotate(120deg) scale(0.9);
    }

    to {
      transform: rotate(120deg) scale(1.05);
    }
  }
}