:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: #333333;
  --mainLinkColor-light: #0da2b8;
  --mainBorderColor-light: #dadada;
  --mainBgColor-light: #f9fafb;

  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: #1ebed6;
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);

  // --mainTextColor: var(--mainTextColor-light);
  // --secondaryTextColor: var(--secondaryTextColor-light);
  // --mainLinkColor: var(--mainLinkColor-light);
  // --mainBorderColor: var(--mainBorderColor-light);
  // --mainBgColor: var(--mainBgColor-light);

}

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import '../components/resume/index.scss';
@import './Calendar.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Readex Pro';
  font-size: small;
}

.accent {
  cursor: pointer;
  color: var(--mainLinkColor) !important;
}

.heading {
  font-size: 18px;
}

.nav-btn {
  &:focus, &:active {
    // border: 1px solid red !important;
    background-color: transparent !important;
    color: red !important;
  }
}

h1,
h2,
strong {
  color: var(--mainTextColor) !important;
}


html,
body {
  background-color: var(--mainBgColor) !important;
  background-image: url(https://res.cloudinary.com/kingsleysolomon/image/upload/v1659252078/portfolio/Matrix-1s-1084px_xcrdxw.svg) !important;
  background-position: center;

  .hoverState {
    &:hover {
      border: 1px solid #ffffff2e;
      background-color: #ffffff4d !important;
      cursor: pointer;
      //  filter: brightness(50%)
    }
  }

  @-webkit-keyframes kenburns {
    0% {
      -webkit-transform-origin: bottom left;
      transform-origin: bottom left;
      transform: scale(1);
      -ms-transform: scale(1);
      /* IE 9 */
      -webkit-transform: scale(1);
      /* Safari and Chrome */
      -o-transform: scale(1);
      /* Opera */
      -moz-transform: scale(1);
      /* Firefox */
    }

    100% {
      transform: scale(1.2);
      -ms-transform: scale(1.2);
      /* IE 9 */
      -webkit-transform: scale(1.2);
      /* Safari and Chrome */
      -o-transform: scale(1.2);
      /* Opera */
      -moz-transform: scale(1.2);
      /* Firefox */
    }
  }

  @keyframes kenburns {
    0% {
      -webkit-transform-origin: bottom left;
      transform-origin: bottom left;
      transform: scale(1);
      -ms-transform: scale(1);
      /* IE 9 */
      -webkit-transform: scale(1);
      /* Safari and Chrome */
      -o-transform: scale(1);
      /* Opera */
      -moz-transform: scale(1);
      /* Firefox */
    }

    100% {
      transform: scale(1.2);
      -ms-transform: scale(1.2);
      /* IE 9 */
      -webkit-transform: scale(1.2);
      /* Safari and Chrome */
      -o-transform: scale(1.2);
      /* Opera */
      -moz-transform: scale(1.2);
      /* Firefox */
    }
  }

  .cc-overlay {
    -webkit-animation: kenburns 15s linear 2s infinite;
    animation: kenburns 15s linear 2s infinite;
  }

  .screen {
    // border: 1px solid red;
    width: 100vw;
    height: calc(100vh - 3rem);
    position: relative;
  }

  .screen-overlay {
    &::after {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // background-color: var(--mainBgColor);
      backdrop-filter: blur(10px) saturate(180%) !important;
      -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
      // opacity: 0.8;
      z-index: 1;
    }
  }

  a {
    text-decoration: none;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .span-col-4 {
    grid-column: span 4 / auto;
  }

  .theme {
    background: transparent;
    backdrop-filter: blur(10px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }


  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none !important;
    }

    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    overflow: -moz-scrollbars-none !important; //for older versions of firefox
  }

  .weatherApp {
    position: relative;
    background:
      url(https://res.cloudinary.com/kingsleysolomon/image/upload/v1660223626/portfolio/wolf-zimmermann-6sf5rf8QYFE-unsplash_l5c3aa.jpg) no-repeat center;
    background-size: cover;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: var(--mainBgColor);
      opacity: 70%;
      // filter: blur(10px);
      z-index: 1;
    }
  }

  #map {
    background-repeat: no-repeat;

    .ol-zoom {
      display: flex;
      flex-direction: column;
      gap: .2rem;
      width: fit-content;
      background-color: var(--mainTextColor);
      border-radius: 5px;
      padding: .1rem;

      .ol-zoom-in,
      .ol-zoom-out {
        background-color: var(--mainLinkColor);
        padding: .2rem;
        width: 2rem;
        height: 2.5rem;
      }

      .ol-zoom-in {
        border-radius: 5px 5px 0 0;
      }

      .ol-zoom-out {
        border-radius: 0 0 5px 5px;
      }
    }

    .ol-rotate {
      background-color: var(--mainLinkColor);
      border-radius: 5px;
      padding: .1rem;
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;

      .ol-rotate-reset {
        background-color: var(--mainLinkColor);
        padding: .2rem;
        width: 2rem;
        height: 2.5rem;
        border-radius: 5px;
      }
    }

    .ol-attribution {
      // border: 1px solid red;
      position: absolute;
      left: 0;
      bottom: 0;
      display: none;

      button {
        background-color: var(--mainLinkColor);
        padding: .2rem;
        width: 2rem;
        height: 2.5rem;
        border-radius: 5px;
        margin-left: .2rem;
      }
    }
  }
}

@media screen and (min-width: 520px) {
  * {
    font-size: initial;
  }

  .heading {
    font-size: 24px;
  }

  .theme {
    background: #00000099 !important;
    backdrop-filter: blur(10px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}