.letter {
    display: inline-block;
    // text-shadow: 0 0 0 whitesmoke;
    animation: smoky 3s forwards;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}

.msg {
    font-size: 14px;

    @media screen and (min-width: 480px) {
        font-size: 20px;
    }
}

.letter:nth-child(even) {
    animation-name: smoky-mirror;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}

@keyframes smoky {
    to {
        transform:
            translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(30deg);
        text-shadow: 0 0 20px whitesmoke;
        filter: blur(10px);
        opacity: 0;
    }
}

@keyframes smoky-mirror {
    to {
        transform:
            translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-30deg);
        text-shadow: 0 0 20px whitesmoke;
        filter: blur(10px);
        opacity: 0;
    }
}

@for $item from 1 through 50 {
    .letter:nth-of-type(#{$item}) {
        animation-delay: #{(3 + ($item/10))}s;
    }
}